version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "mp-covenants-term-search-fuzzy"
s3_bucket = "XXXX"
s3_prefix = "mp-covenants-term-search-fuzzy"
region = "XXXX"
capabilities = "CAPABILITY_IAM"
image_repositories = []

[otherenv]
[otherenv.deploy]
[otherenv.deploy.parameters]
stack_name = "mp-ca-contracosta-prd-lambda-term-search-fuzzy"
s3_bucket = "XXXX"
s3_prefix = "lambda-term-search-fuzzy"
region = "XXXX"
capabilities = "CAPABILITY_IAM"
image_repositories = []